* {
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

html {
    background-color:#fff8dc;
}

/* Navigation Bar */

#navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
    background-color: cornsilk;
    padding: 1rem;
    font-family: "Comfortaa", cursive;
    font-size: 2rem;
    box-shadow: 5px 0px 5px grey;
}

#navigation .main-logo img {
    width: 50%;
    height: auto;
}

#navigation .main-logo {
    padding-left: 5%;
}
.dropdown {
    padding-top: 1%;
    padding-left: 3%;
}

.dropbtn  /*drop down button styling */ {
    width: 50%;
    margin-top: 10px;
    text-align: center;
    color: white;
    border: none;
}

.dropdown a {
    text-decoration: none;
    text-align: center;
}

.dropdown-content /* drop down hidden by default */ {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown /*postion dropdown content*/ {
    position: relative;
  }

.dropdown-content a {
    background-color: cornsilk;
    padding: 1rem 1.25rem;
    text-decoration: none;
    display: block;
    transition: background-color 250ms linear,
    color 250ms linear;
  }

  .dropdown-content a:hover {
      background-color: rgb(247, 75, 75);
      color: white;
  }

  .logos {
      display: flex;
      justify-content: center;
  }

  .logos a {
      padding: 0 1rem;
  }
/* Nav Bar Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #navigation {
        font-size: 1rem;
    }
}

/* Header */

header {
    text-align: center;
    padding: 15%;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
}

header h1 {
    transition: color 350ms ease-in 250ms;
}
header h1:hover, #navigation li a:hover, #navigation li i:hover {
    color: rgb(255, 246, 144);
}

/* Header Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {
    header {
        padding-top: 40%;
        font-size: 1rem;
    }
}


/* Introduction */

#introduction {
    background-color: rgba(129, 129, 129, 0.795);
    width: 75%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid cornsilk;
    text-align: center;
}

#introduction .intro {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

#introduction .intro h2, #introduction .intro h4 {
    text-align: center;
}

#introduction p.first, #introduction p.second {
    width: 80%;
    margin: 0 auto;
}

/* Media */

#media {
    width: 90%;
    height: 500px;
    background-image: url(../media/phone-swipe.txt);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 5px;
}

#media h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    padding: 2%;
    text-shadow: 1px 1px 5px black;
}

/*  Media Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #media {
        background-image: url(../media/digital-marketing-gif.gif);
        width: 300px;
        height: 300px;
    }

    #media h5 {
        font-size: 1.25rem;
    }
}

/* Multi-Display */

.display-section {
    float: left;
    margin: 1% 1%;
    width: 30%;
}

 .display-section {
    box-sizing: border-box;
    width: 30%;
    background-color: rgba(129, 129, 129, 0.795);
    border-radius: 5px;
    padding-bottom: 1%;
}
.display-section .image {
    padding: 5% 0;
}

 .display-section img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid cornsilk;
    border-radius: 2px;
}


 .display-section p {
    display: none;
    margin: 0 auto;
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    width: 80%;
}

 .display-section h5 {
    font-size: 2rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    padding: 3%;
}


@media only screen and (min-width: 200px) and (max-width: 600px) {
    .display-section p {
        font-size: 0.7rem;
    }

    .display-section h5 {
        font-size: 0.85rem;
    }
}

/* Contact Section */

#contact {
    padding-top: 30%;
    margin: 0 auto;
    width: 80%;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    text-align: center;
}

#contact .button {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25%;
    background-color: rgba(0, 161, 161, 0.733);
    padding: 2%;
    border: 2px solid cornsilk;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

#contact a {
    text-decoration: none;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    #contact i {
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #contact .button {
        width: 250px;
    }
}