* {
    padding: 0;
    margin: 0;
    color: cornsilk;
    box-sizing: border-box;
}

html {
    background-color: black;
}

/* Navigation Bar */

#navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#navigation .menu ul, #navigation .logos ul {
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

#navigation li {
    list-style-type: none;
    padding-right: 1.5rem;
    transition: color 350ms ease-in 250ms;
}

#navigation li a {
    text-decoration: none;
    transition: color 350ms ease-in 250ms;
}

#navigation .navigation-menu .nav {
    display: flex;
}

#navigation li i {
    transition: color 350ms ease-in 250ms;
}

#navigation .dropdown {
    position: relative;
    display: block;
  }

#navigation .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }

  #navigation .dropdown-content ul li {
      padding: 10px 0;
  }

  #navigation .dropdown:hover .dropdown-content {
      display: block;
    }
/* Nav Bar Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {

    #navigation {
        display: inline-block;
        text-align: center;
    }

    #navigation #nav {
        display: block;
        align-items: center;
    }

    #navigation #nav .menu ul li, #navigation #nav .logos ul li {
        margin: 0 auto;
        padding: 1% 0;
    }

}

/* Header */

header {
    text-align: center;
    padding: 15%;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
}

header h1 {
    transition: color 350ms ease-in 250ms;
}
header h1:hover, #navigation li a:hover, #navigation li i:hover {
    color: rgb(255, 246, 144);
}

/* Header Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {
    header {
        padding-top: 40%;
        font-size: 1.5rem;
    }
}


/* Introduction */

#introduction {
    background-color: rgba(129, 129, 129, 0.795);
    width: 75%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid cornsilk;
}

#introduction .intro {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

#introduction .intro h2, #introduction .intro h4 {
    text-align: center;
}

#introduction p.first, #introduction p.second {
    width: 80%;
    margin: 0 auto;
}

/* Media */

#media {
    width: 90%;
    height: 500px;
    background-image: url(../media/phone-swipe.txt);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 5px;
}

#media h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    padding: 2%;
    text-shadow: 1px 1px 5px black;
}

/*  Media Responsive */

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #media {
        background-image: url(../media/digital-marketing-gif.gif);
        width: 300px;
        height: 300px;
    }
}

/* Multi-Display */

#multi-display {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

}

#multi-display .display-section {
    box-sizing: border-box;
    width: 30%;
    background-color: rgba(129, 129, 129, 0.795);
    border-radius: 5px;
    padding-bottom: 1%;
}

#multi-display .display-section .image {
    padding: 5% 0;
}

#multi-display .display-section img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid cornsilk;
    border-radius: 2px;
}


#multi-display p {
    margin: 0 auto;
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    width: 80%;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #multi-display p {
        font-size: 0.7rem;
    }
}

/* Contact Section */

#contact {
    margin: 0 auto;
    width: 80%;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    text-align: center;
}

#contact .button {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25%;
    background-color: rgba(0, 161, 161, 0.733);
    padding: 2%;
    border: 2px solid cornsilk;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

#contact a {
    text-decoration: none;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    #contact i {
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #contact .button {
        width: 250px;
    }
}